{% extends 'base.html' %}
{% block content %}

    {% load review_tags %}
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ professor.first_name }} {{ professor.last_name }}</h5>
                            <p class="text-muted mb-1">{{ professor.department.name }} </p>
                            <p class="text-muted mb-4">{{ college.college_name }}</p>
                            {% total_review_average professor 100 as percentage %}
                            <p class="text-muted mb-4">Overall Rating: {{ percentage }}/100.0 </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4"> Category Statistics </p>
                                    {% render_category_averages professor 100 %}
                                    {#                                    {% for category in category_average %}#}
                                    {#                                         <div class="progress rounded" style="height: 5px;">#}
                                    {#                                            <div class="progress-bar" role="progressbar"#}
                                    {#                                                 style="width: {{ category }}%" aria-valuenow="80"#}
                                    {#                                                 aria-valuemin="0" aria-valuemax="5"></div>#}
                                    {#                                        </div>#}
                                    {#                                    {% endfor %}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url "review_create" content_type='professor' object_id=professor.id %}">Review this
                            professor</a>
                    </div>
                    <div>
                        <ul class="list-group">
                            {% for professor_review in page_obj %}
                                <li class="list-group-item">
                                    {{ professor_review.comment|upper }}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}