{% extends 'base.html' %}
{% block content %}

    {% load review_tags %}
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ professor.first_name }} {{ professor.last_name }}</h5>
                            <p class="text-muted mb-1">{{ professor.department.name }} </p>
                            <p class="text-muted mb-4">{{ college.college_name }}</p>
                            {% optimized_total_review_average professor as review_average %}
                            {% if review_average %}
                                <p class="text-muted mb-4">Overall Rating: {{ review_average|floatformat:1 }}/5.0 </p>
                            {% else %}
                                <p class="text-muted mb-4"> N/A </p>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4"> By feature </p>
                                    {% render_category_averages professor 5 %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <a href="{% url "review_create" content_type='professor' object_id=professor.id %}">
                                    <div class="card-body">
                                        <h6 class="mb-4"> Review this professor</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <div class="container">
        <div>
            <ul class="list-group list-group-light mb-3">
                {% for review in page_obj %}
                    <li class="list-group-item">
                        <h5 class="fw-bold">
                            {% if review.average_rating %}
                                {{ review.average_rating }}/5.0
                            {% else %}
                                N/A
                            {% endif %}
                        </h5>
                        <p class="text-muted mb-0">
                            {% if review.content %}
                                {{ review.content|truncatewords:'70' }}
                            {% else %}
                                Reviewed without description.
                            {% endif %}
                            <a href="{% url "review_detail" pk=review.id %}">Review details</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
        </div>
    </div>
    </div>
{% endblock %}