{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load review_tags %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{ college.college_name }}</h1>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="d-flex justify-content-center">

                    {% optimized_render_category_averages college %}


                    <div class="col-md-4">
                        <a href={% url 'colleges:professors' college.id college.slug %}>
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <img src="{% static 'colleges/person.svg' %}" alt="professors"/>
                                        Professors
                                    </h5>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href={% url 'colleges:classes' college.id  college.slug %}>
                            <div class="card mb-4 box-shadow">
                              <div class="card-body">
                                  <h5 class="card-title text-center">
                                      <img src="{% static 'colleges/house.svg' %}" alt="classes"/>
                                      Classes
                                  </h5>
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                      </div>
                                  </div>
                  </div>
                </div>
          </div>

         
  </main>
{% endblock %}