{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
{% endblock %}

{% load static %}
  {% block content %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{college.college_name}}</h1>
      </div>
    </section>
  </main>

  <div class="album py-5 bg-light">
    <div class="container">
      <input type="dormSearch" class="form-control" id="autoComplete" placeholder="Search Dorm">
    </div>
  </div

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>College Life &copy;</p>
    </div>
  </footer>

  {% comment %} import JS autofill search tool {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
  <script>
      const autoCompleteJS = new autoComplete({
        placeHolder: "Search for Classes",
        data: {
            src: {{ dorms|safe }},
            cache: true,
        },
        resultItem: {
            highlight: true
        },
        events: {
            input: {
                selection: (event) => {
                    const selection = event.detail.selection.value;
                    autoCompleteJS.input.value = selection;
                }
            }
        }
      });
  </script>
{% endblock %}