{% extends 'base.html' %}
{% load static %}
{% load review_tags %}
{% block content %}

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ college.college_name }}</h2>
                <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">Search
                    Results</h3>
            </div>
            <div style="width: 50% !important; ">

                {% if page_obj %}

                    {% for object in page_obj %}
                        <div class="row ng-scope">
                            <section class="search-result-item">
                                <div class="search-result-item-body">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                                {% if content_type == 'professor' %}
                                                    <a href="{% url 'colleges:professor' college.id college.slug object.id object.slug %}">{{ object }}</a>
                                                    </h5>
                                                {% else %}
                                                    <a href="{% url 'colleges:class' college.id college.slug object.id %}">{{ object }}</a>
                                                    </h5>
                                                {% endif %}
                                            <h6 class="text-lg font-bold dark:text-white"> {{ object.department.name }}</h6>
                                        </div>
                                        <div class="col text-align-center">
                                            {% optimized_total_review_average object as review_average %}
                                            <h6 class="text-lg font-bold dark:text-white">
                                                {% if review_average %}
                                                    Average Review Rating:
                                                    <span class="rating-value">{{ review_average|floatformat:1 }}</span>
                                                {% else %}
                                                    Average Review Rating: N/A
                                                {% endif %}
                                            </h6>
                                            {% if object_type == 'professors' %}
                                                <button type="button"
                                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                                        onclick="window.location.href='{% url 'colleges:professor' college.id college.slug object.id object.slug %}';">
                                                    Learn
                                                    More
                                                </button>
                                            {% else %}
                                                <button type="button"
                                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                                        onclick="window.location.href='{% url 'colleges:class' college.id college.slug object.id %}';">
                                                    Learn
                                                    More
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </section>
                        </div>
                    {% endfor %}


                        {% include 'Pagination.html' %}
                    </div>
                {% else %}
                    <h3> No results found ... </h3>
                {% endif %}
        </div>
        </div>
    </section>

{% endblock %}
{% block scripts %}
    <script>

        var els = document.getElementsByClassName('rating-value');
        for (var i = 0; i < els.length; i++) {
            value = Number(els[i].textContent)
            if (value <= 2.5) {
                els[i].style.color = '#dc2626';
            } else if (2.5 <= value && value <= 3.5) {
                els[i].style.color = '#d97706';
            } else {
                els[i].style.color = '#65a30d'
            }
        }


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {#<script src="{% static 'javascript_functions/rating_colors.js' %}" type="text/javascript">#}
    {#    changeTextColor();#}
    {#    console.log('here');#}
    {#</script>#}
{% endblock %}