{% extends 'base.html' %}
{% load review_tags %}

{% block head %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
{% endblock %}

{% load static %}
{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{ college }}</h1>
            </div>
        </section>


        <div class="album py-5">
            <div class="d-flex justify-content-center autoComplete_wrapper">
                {% if object_type == 'professors' %}
                    <form method="get" action="{% url 'colleges:professor_search' college.id college.slug %}">
                        <div class="d-flex justify-content-center autoComplete_wrapper">
                            {{ form.search }}
                        </div>
                    </form>
                {% else %}
                    <form method="get" action="{% url 'colleges:course_search' college.id college.slug %}">
                        <div class="d-flex justify-content-center autoComplete_wrapper">
                            {{ form.search }}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}